* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #f6f8f9;
}

.logo {
    background-color: white;
    padding: 1% 1%;
    margin-bottom: 3%;
}

.container {
    height: 50px;
    background-color: white;
    border-radius: 8% 8% 0% 0%;
    max-width: 70%;
    margin: 3px auto;
    border-bottom: 1px solid #f6f8f9;

}

.containerbotton {
    height: 450px;
    background-color: white;
    border-radius: 0% 0% 2% 2%;
    max-width: 70%;
    margin: 0% auto;

}

.spanarrow {
    font-size: 10px;
}

.elements {
    padding: 1% 6%;
}

.elements-botton {
    padding-left: 5%;
    padding-top: 2%;
}

.button-header {
    font-size: 12px;
    text-align: center;
    border-radius: 10%;
    width: 80px;
    padding: 1%;
    border: 1px solid #c4cbd0;
    background-color: white;

}

div .task {
    width: 80px;
    background-color: #14aaf5;


}


h2 {
    display: inline;
    padding-left: 5px;
}

ul {
    list-style: none;
}

li {
    height: 30px;
}

.check {
    height: 80px;
    width: 80px;
    border: 2px solid #39cab0;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    display: inline;
    margin-right: 2px;
    font-size: 10px;


}

.submit-right {
    display: inline;

}

.cross {
    color: red;
    height: 50px;
    width: 50px;
    border: 2px solid red;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    display: inline;
    margin-right: 2px;
    font-size: 10px;
}

.button {

    border-radius: 30%;
    width: 50px;
    height: 20px;
    font-size: 10px;
    color: white;
    border: none;
}

.button-color-09a9ed {
    background-color: #09a9ed;
}

.button-color-ab5de6 {
    background-color: #ab5de6;
}

.button-color-2cc6ab {
    background-color: #2cc6ab;
}

.button-color-ff9b00 {
    background-color: #ff9b00;
}

.button-color-ec4a9d {
    background-color: #ec4a9d;
}

.button-color-a3d116 {
    background-color: #a3d116;
}